pandas
transformers
sentencepiece
accelerate
torch
tqdm
sentence-transformers
scikit-learn
yake
sqlalchemy
streamlit
python-dotenv

# Member 1: NER, Relation Extraction, and Knowledge Graph
networkx
neo4j
fuzzywuzzy
python-Levenshtein
pyvis
